.hmdiv{
background-color: rgb(44, 44, 44);
}
.logoutbtn{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    background-color: brown;
}
.logoutbtn>img{
    border-radius: 50px;
}
.logoutbtn>button{
    width: 30%;
}
.btnhm{
    width: 20%;
    color: black;
    background-color: aliceblue;
}
.main-div{
    width: 100%;

}
.main-div>div{
    width: 40%;
    /* height: 80vh; */
    overflow-y: scroll;
    background-color: rgb(93, 2, 2);
    border-radius: 15px;
    margin: auto;
    /* margin-top: 50px; */
}

.userDiv:nth-child(even){
    display: flex;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    /* gap: 50px; */
    
    justify-content: space-between;
    padding: 5px;
   
}
.para:nth-child(odd){
    padding: 5px;
    border-right: 2px solid rgb(151, 15, 15) ;
}
.para:nth-child(even){
    padding: 5px;
    border-left: 2px solid rgb(151, 15, 15) ;
}
.userDiv:nth-child(odd){
    text-align: right;
    display: flex;
    background-color: whitesmoke;
    border-radius: 5px;
    align-items: center;
    flex-direction: row-reverse;
    /* gap: 50px; */
    justify-content: space-between;
    padding: 5px;
 
}
.userDiv>div:first-child{
    padding: 10px;
    width: 20%;
}
.userDiv>div:last-child{
   padding: 10px;
    width: 75%;
    
}
.userDiv>div>img{
    border-radius: 50%;
}



@media (max-width:730px){
    .main-div>div{
        width: 100%;
      
        overflow-y: scroll;
        background-color: rgb(93, 2, 2);
        border-radius: 15px;
        margin: auto;
        /* margin-top: 50px; */
    }
  }